@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --fin-primary: #4C30F3;
  --fin-primary-dark: #2a1b81;
  --fin-accent: #5DD5AB;
  --fin-secondary: #9EA0FF;
  --fin-secondary-dark: #5F6199;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-color: var(--fin-secondary) var(--fin-primary);
}

.container {
  max-width: 1800px;
  width: 90%;
  margin: auto;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--fin-primary);
  color: white;
}

button,
.btn {
  padding: 1.4rem 2.5rem;
  border: none;
  border-radius: 5rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: .25s ease;
  text-decoration: none;

  &:hover {
    box-shadow: 0px 10px 10px #3a24b3;
  }
}

.btn_white {
  background-color: white;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: black;
  font-weight: 600;
}

h2 {
  font-size: 3.5rem;
  color: var(--fin-accent);
}