.add_expense {
    min-height: 100vh;
    overflow: hidden;
    position: relative;

    .container {
        display: flex;
    }

    .left {
        padding-top: 10rem;
        padding-left: 5rem;
        width: 40%;
        height: 100%;
    }

    .right {
        transform: translate(100px, 0px);
        height: 95%;
        position: absolute;
        right: 0;
        bottom: 0;

        img {
            object-fit: cover;
            height: 100%;
        }
    }
}