.add_expense {
    min-height: 100vh;
    overflow: hidden;

    .container {
        position: relative;
        display: flex;
    }

    .left {
        padding-top: 15rem;
        width: 40%;
        height: 100%;
    }

    .right {
        transform: translate(300px, 30px);
        height: 100%;
        position: absolute;
        right: 0;
        bottom: 0;

        img {
            object-fit: cover;
            height: 100%;
        }
    }
}