.dashboard {
    display: flex;
    flex-direction: row-reverse;
    position: relative;

    .filter_bg {
        position: absolute;
        inset: 0;
        right: 60%;
        background-color: var(--fin-secondary);
        z-index: -1;
    }

    .container {
        display: flex;
        flex-direction: row-reverse;
    }

    .dashboard_left,
    .dashboard_right {
        padding: 10rem 6rem;
    }

    .dashboard_left {
        width: 55%;
    }

    .dashboard_right {
        background-color: var(--fin-secondary);
        width: 45%;
        min-height: 100vh;

        h2 {
            color: var(--fin-accent);
            color: var(--fin-primary);
            color: black;
        }
    }

    h2 {
        margin-bottom: 3rem;
    }
}